.App {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;

}

.notification {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 15px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background: #6a1b9a;
  opacity: 0;
  visibility: hidden;
  transition: opacity .25s ease-in-out;
}

.notification.is-active {
  opacity: 1;
  visibility: visible;
}

.notification p {
  margin: 0;
}
