.App {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;

}

.modal {
  display: none;
  max-width: 200px;
  margin: auto;
  height: 200px;
  position: absolute;
  padding: 15px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: purple;
  border: 1px solid black;
}

.modal.is-active {
  display: block;
}
